<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Login Form</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username"><br><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"><br><br>
            <input type="submit" value="login" style="background-color:rgb(58, 26, 172); color:ghostWhite;">
        </form><br>
        <button><a href="{% url 'forgot_pw' %}" style="text-decoration: none;">forgot_password</a></button><br><br>
        <button><a href="{% url 'change_password' %}" style="text-decoration: none;">Change_Password</a></button>
    </center>
</body>
</html>